# Environnement virtuel
myenv/
.myenv/

# Fichiers Python compilés
__pycache__/
*.py[cod]
*.pyo

# Fichiers de logs
*.log

# Fichiers temporaires de l’éditeur
*.swp
*.swo
*.bak
*.tmp

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
desktop.ini

# Fichiers générés par Poetry
poetry.lock

# PyCharm
.idea/

# VSCode
.vscode/

# Jupyter
.ipynb_checkpoints/
